.titleContainer {
    width: 100%;
    background-color: grey;
    color: white;
    h3 {
        background-color: black;
        width: 50%;
        height: 100%;
        padding: 10px 10px 10px 50px;
        margin-bottom: 50px;
        @media only screen and (max-width: 800px){
            width: 100%;
        }
    }
}