.section {
    margin-top: 50px;
    margin-bottom: 50px;
    .more {
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 28px;
        margin-top: 20px;
    }
}