.list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: calc(25% - 10px);
        margin-bottom: 10px;
        &:not(:nth-child(4n)) {
            margin-right: 10px;
        }
        @media only screen and (min-width: 450px) and (max-width: 800px) {
            &:not(:last-child) {
                margin-right: 0;
            }
            &:not(:nth-child(2n)){
                margin-right: 10px;
            }
            width: calc(50% - 5px);
            margin-bottom: 10px;
        }
        @media only screen and (max-width: 450px) {
            &:not(:last-child) {
                margin-right: 0;
            }

            width: 100%;
            margin-bottom: 10px;
        }
    }
}