.nav {
    .list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        li {
            margin-right: 25px;
            height: 100%;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                font-weight: bold;
                height: 100%;
                &.active {
                    color: blue;
                }
                &:hover {
                    color: blue;
                }
            }
        }
    }
}